body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	width: 100vw;

}

header {
	margin: 0;
	padding: 30px;
	color: #aa1;
	background-color: #222;
	border-bottom: 2px solid #aa1;
	background-position: fill;
}

h1 {
	margin: 0;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 3px 3px 9px #222;
}

h3 {
	font-family: 'Press Start 2P', cursive;
	text-shadow: 3px 3px 9px #222;
}

main {
	display: flex;
	color: #aa1;
	justify-content: center;
	background-image: url('../assets/images/earth-space.jpeg');
	background-position: center;
	background-size: cover;
}

aside{
	padding: 2% 6%;
	width: 100%;
}

.container {
	background-color: rgba(34,34,34,.5);
	padding: 5px 10px;
}

table * {
	padding: 4px 10px;
}

th {
	border-bottom: 1px solid #aa1;
}

tr :first-child {
	border-right: 1px solid #aa1;
}

.key-command {
	display: flex;
	flex-direction: row;
}

.key-command img {
	width: auto;
	max-height: 50px;
}

#canvas-container{
	display: none;
	border-left: 2px solid #aa1;
	border-right: 2px solid #aa1;
}

#start {
	min-width: 350px;
	height: 450px;
	border-left: 2px solid #aa1;
	border-right: 2px solid #aa1;
}

.name-form {
	width: 300px;
	height: 100%;
	margin: 0 auto;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.name-form input {
	height: 30px;
}

.name-form button {
	margin: 10px 0;
	height: 30px;
	color: #222;
	background-color: #aa1;
	width: 100%;
}

.name-form .danger {
	color: red;
	font-style: bold;
	width: 50%;
}
