body {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header, footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #aa1;
	background-color: #222;
	height: 16vh;
}

header {
	border-bottom: 2px solid #aa1;
}

footer {
	border-top: 2px solid #aa1;
}

h1 {
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 3px 3px 1px #000;
	font-size: 46px;
}

h3 {
	font-family: 'Press Start 2P', cursive;
	text-shadow: 3px 3px 9px #222;
	color: #aa1;
	font-size: 24px;
}

main {
	display: flex;
	height: 68vh;
	color: #ddd;
	justify-content: center;
	background-image: url('../assets/images/earth-space.jpeg');
	background-position: center;
	background-size: cover;
}

aside{
	width: 100%;
	background-color: rgba(34,34,34,.5);
}

.bezel {
	width: 20vw;
	height: 100%;
	background: #aa1;
}

.bezel-right {
	background: linear-gradient(to right, #aa1, #222);
}

.bezel-left {
	background: linear-gradient(to left, #aa1, #222);
}

.container {
	padding: 5px 10px;
}

table * {
	padding: 4px 10px;
}

th {
	border-bottom: 1px solid #aa1;
}

tr :first-child {
	border-right: 1px solid #aa1;
}

.key-command {
	display: flex;
	flex-direction: row;
}

.key-command img {
	width: auto;
	max-height: 50px;
}

#canvas-container{
	display: none;
	border-left: 2px solid #aa1;
	border-right: 2px solid #aa1;
}

#start {
	min-width: 350px;
	height: 450px;
	border-left: 2px solid #aa1;
	border-right: 2px solid #aa1;
}

.name-form {
	width: 300px;
	height: 100%;
	margin: 0 auto;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.name-form input {
	height: 30px;
}

.name-form button {
	margin: 10px 0;
	height: 30px;
	color: #222;
	background-color: #aa1;
	width: 100%;
}

article {

}


